body.responsible-gambling-body {
    background-color: #1e252f !important;
    background-image: none !important;
    background-attachment: fixed;
    color: #e0e0e0;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: var(--header-height)
}

.responsible-gambling-body .header {
    background-color: transparent
}

.gambling-container {
    display: flex;
    max-width: 1000px;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 40px 20px;
    align-items: center;
    gap: 40px;
    flex-grow: 1
}

.responsible-gambling-body .nav-indicator {
    position: absolute;
    bottom: -6%;
    height: 2px;
    background-color: #fff;
    opacity: 1;
    box-shadow: 0 0 5px rgba(255, 255, 255, .7), 0 0 10px rgba(255, 255, 255, .5);
    width: 220px !important;
    left: 70px
}

.gambling-content {
    max-width: 60%
}

.gambling-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;
    color: #fff
}

.gambling-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 630px;
    height: 2px;
    background-color: #fff
}

.gambling-text p {
    font-size: 20px;
    line-height: 1.8;
    color: #e0e0e0;
    margin-bottom: 0
}

.device-showcase {
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
    align-items: center
}

.device-showcase img {
    max-width: 600%;
    height: auto;
    width: auto;
    margin-left: 0;
    margin-top: 80px;
    display: block
}

@media (max-width:768px) {
    .gambling-container {
        flex-direction: column;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 90%;
        max-width: 500px;
        gap: 30px
    }

    .gambling-content {
        max-width: 100%;
        text-align: center
    }

    .gambling-title::after {
        left: 50%;
        transform: translateX(-50%)
    }

    .device-showcase {
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center
    }

    .device-showcase img {
        max-width: 80%;
        height: auto
    }
}

@media (max-width:480px) {
    .gambling-title {
        font-size: 24px
    }

    .gambling-text p {
        font-size: 15px
    }

    .device-showcase img {
        max-width: 90%
    }
}